* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("p.avif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    text-align: center;
    color: white;
    padding: 50px 20px;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

p {
    color: yellowgreen;
    text-align: center;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 15px 20px;
    color: white;
}

.logo {
    font-size: 40px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: rgb(150, 30, 30);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(14, 115, 156);
}

.flex-item {
    width: 200px;
    padding: 20px;
    background-color: rgb(230, 173, 221);
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}


.flex-item img {
    width: 100%;
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        padding-top: 10px;
    }

    .nav-links li {
        margin: 5px 0;
    }

    .flex-container {
        flex-direction: column;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
}